/*
 * WORKSPACE
 ******************************************************************************/

#griot-data{
	width:100%;
	height:500px;
	display:none;
}
#griot{
	margin-bottom:25px;
}
.griot-field-wrap{
	margin-top:20px;
}
.griot-field input,
.griot-field textarea,
.griot-field select{
	display:block;
	width:100%;
	max-width:100%;
}
.griot-field-meta{
	display:block;
	width:100%;
	margin:0px 0px 7px;
}


/*
 * GENERAL UI ELEMENTS
 ******************************************************************************/

.griot-label{
	display:inline-block;
	text-transform:uppercase;
	font-weight:bold;
	color:#666;
	font-size:12px;
	margin-right:7px;
}
.griot-button{
	display:inline-block;
	background-color:#f7f7f7;
	color:#222;
	height:22px;
	line-height:22px;
	padding:0px 8px 1px;
	font-size:11px;
	-webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 0 rgba(0,0,0,.08);
	-moz-box-shadow: inset 0 1px 0 #fff, 0 1px 0 rgba(0,0,0,.08);
	box-shadow: inset 0 1px 0 #fff,0 1px 0 rgba(0,0,0,.08);
	border-radius:3px;
	border:1px solid #ccc;
	cursor:pointer;
	margin-right:7px;
}
.griot-button:hover{
	background-color:#fafafa;
	border-color:#999;
	color:#222;
}
.griot-button[disabled],
.griot-button[disabled]:hover{
	opacity:0.5;
	border-color:#ccc;
	background-color:#f7f7f7;
	cursor:default;
}

.griot-icon{
	font-family:dashicons;
	font-size:20px;
}
.griot-icon-menu:before{
	content:'\f333';
}
.griot-icon-delete:before{
	content:'\f335';
}
.griot-icon-shiftleft:before{
	content:'\f341';
}
.griot-icon-shiftright:before{
	content:'\f345';
}
.griot-icon-prev:before{
	content:'\f141';
	font-size:24px;
}
.griot-icon-next:before{
	content:'\f139';
	font-size:24px;
}


/*
 * REPEATERS
 ******************************************************************************/

.griot-repeater{
	border-right:1px solid #ccc;
	border-left:1px solid #ccc;
}
.griot-repeater.collapsed{
	border-top:0px;
	border-bottom:0px;
}
.griot-repeater-header{
	height:30px;
	width:100%;
	position:relative;
	z-index:2;
	box-sizing:border-box;
	-webkit-box-shadow:0px 2px 4px rgba(0,0,0,0.13);
	-moz-box-shadow:0px 2px 4px rgba(0,0,0,0.13);
	box-shadow:0px 2px 4px rgba(0,0,0,0.13);
	border-top:1px solid #ccc;
}
.griot-repeater-nav{
	position:absolute;
	display:block;
	width:30px;
	height:30px;
	color:#666;
	text-align:center;
	line-height:30px;
	cursor:pointer;
}
.griot-repeater-nav:hover{
	background-color:#fafafa;
	color:#222;
}
.griot-repeater-nav.disabled,
.griot-repeater-nav.disabled:hover{
	background-color:transparent;
	color:#ccc;
}
.griot-repeater-nav.prev{
	left:0;
	border-right:1px solid #ddd;
}
.griot-repeater-nav.next{
	right:0;
	border-left:1px solid #ddd;
}
.griot-repeater-pagination{
	position:absolute;
	width:100%;
	height:30px;
	text-align:center;
}
.griot-repeater-bullet{
	background-color:#999;
	border-radius:1000px;
	width:12px;
	height:12px;
	line-height:30px;
	display:inline-block;
	margin-right:5px;
	margin-top:9px;
	vertical-align:middle;
	cursor:pointer;
}
.griot-repeater-bullet.active{
	background-color:#333;
}
.griot-repeater-container{
	position:relative;
	width:100%;
	background-color:#ccc;
	-webkit-box-shadow:inset 0px 0px 6px rgba(0,0,0,0.13);
	-moz-box-shadow:inset 0px 0px 6px rgba(0,0,0,0.13);
	box-shadow:inset 0px 0px 6px rgba(0,0,0,0.13);

}
.griot-repeater-item{
	position:relative;
	width:100%;
	padding:10px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	background-color:#f1f1f1;
	-webkit-box-shadow:0px 0px 8px rgba(0,0,0,0.13);
	-moz-box-shadow:0px 0px 8px rgba(0,0,0,0.13);
	box-shadow:0px 0px 8px rgba(0,0,0,0.13);
	border-bottom:1px solid #ccc;
}
.griot-repeater-meta-wrap{
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	width:30px;
	background-color:#666;
}
.griot-repeater-meta{
	position:absolute;
	display:block;
	width:500px;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-webkit-transform-origin: 0px;
	-moz-transform-origin: 0px;
	-o-transform-origin: 0px;
	top:530px;
	left:15px;
	text-align:right;
	color:#eee;
	text-transform:uppercase;
	font-size:12px;
	font-weight:bold;
}
.griot-repeater-menu-toggle{
	position:absolute;
	display:block;
	top:0;
	left:0;
	width:30px;
	height:30px;
	color:#f7f7f7;
	font-size:20px;
	line-height:30px;
	text-align:center;
	vertical-align:middle;
	cursor:pointer;
	border-bottom:1px solid #ccc;
}
.griot-repeater-menu-toggle:hover,
.griot-repeater-menu-toggle.active{
	background-color:#333;
	color:#fafafa;
}
.griot-repeater-menu{
	position:absolute;
	top:0;
	left:30px;
	bottom:0px;
	background-color:#666;
	border-left:1px solid #ccc;
	color:#f7f7f7;
	-webkit-box-shadow:2px 0px 6px rgba(0,0,0,0.25);
	-moz-box-shadow:2px 0px 6px rgba(0,0,0,0.25);
	box-shadow:2px 0px 6px rgba(0,0,0,0.25);
	z-index:1001;
}
.griot-repeater-menu-option{
	display:block;
	height:30px;
	white-space:nowrap;
	border-bottom:1px solid #ccc;
	cursor:pointer;
}
.griot-repeater-menu-option:hover{
	background-color:#333;
}
.griot-repeater-menu-option.disabled,
.griot-repeater-menu-option.disabled:hover{
	background-color:#ccc;
}
.griot-repeater-menu-option-icon{
	display:inline-block;
	width:30px;
	height:30px;
	line-height:30px;
	text-align:center;
	vertical-align:middle;
	color:#f7f7f7;
}
.griot-repeater-menu-option-label{
	white-space:nowrap;
	display:inline-block;
	font-size:11px;
	text-transform:uppercase;
	color:#f7f7f7;
	padding-right:20px;
	line-height:30px;
	vertical-align:middle;
}
.griot-repeater-menu-option-icon:hover,
.griot-repeater-menu-option-label:hover{
	color:#fafafa;
}
.griot-repeater-fields{
	width:100%;
	padding-left:30px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	min-height:150px;
}

/*
 * CONNECTIONS
 ******************************************************************************/
#griot-related-records select{
	min-height:150px;
}

/*
 * ZOOMERS
 ******************************************************************************/
.griot-zoomer{
	width:100%;
	height:500px;
	margin-top:15px;
}

/*
 * IMAGEPICKERS
 ******************************************************************************/
.griot-current-image{
	width:150px;
	height:150px;
	border:1px solid #ccc;
	background-color:#fff;
	background-size:contain;
	background-position:center center;
	background-repeat:no-repeat;
	cursor:pointer;
	-webkit-box-shadow:inset 0px 0px 4px rgba(0,0,0,0.13);
	-moz-box-shadow:inset 0px 0px 4px rgba(0,0,0,0.13);
	box-shadow:inset 0px 0px 4px rgba(0,0,0,0.13);
}
.griot-current-image.empty{
	text-align:center;
	line-height:150px;
	vertical-align:middle;
	text-transform:uppercase;
	font-size:12px;
	font-weight:bold;
	color:#666;
	background: #ffffff; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #ffffff 0%,#e5e5e5 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #ffffff 0%,#e5e5e5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.griot-current-image:hover,
.griot-current-image.empty:hover{
	border-color:#666;
}
.griot-current-image.empty:after{
	content:'No image selected';
}
.griot-protected .griot-current-image{
	opacity:0.5;
	cursor:default;
}
.griot-protected .griot-current-image:hover{
	border-color:#ccc;
}
.griot-image-chooser{
	background-color:#ddd;
	height:0px;
	overflow-y:hidden;
	overflow-x:scroll;
	white-space:nowrap;
	margin:15px 0px;
	cursor:pointer;
	-webkit-box-shadow:inset 0px 0px 4px rgba(0,0,0,0.13);
	-moz-box-shadow:inset 0px 0px 4px rgba(0,0,0,0.13);
	box-shadow:inset 0px 0px 4px rgba(0,0,0,0.13);
	-webkit-transition:height 100ms ease;
	-moz-transition:height 100ms ease;
	-o-transition:height 100ms ease;
	transition:height 100ms ease;
}
.griot-image-chooser.active{
	height:150px;
}
.griot-image-chooser img{
	display:inline-block;
	height:100px;
	width:auto;
	margin:25px 12px;
	-webkit-transition:margin 100ms ease, -webkit-box-shadow 100ms ease;
	-moz-transition:margin 100ms ease, -moz-box-shadow 100ms ease;
	-o-transition:margin 100ms ease, -box-shadow 100ms ease;
	transition:margin 100ms ease, box-shadow 100ms ease;
	-webkit-box-shadow: 0px 2px 4px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 2px 4px rgba(0,0,0,0.25);
	box-shadow: 0px 2px 4px rgba(0,0,0,0.25);
}
.griot-image-chooser img:hover{
	margin:18px 12px 32px;
	-webkit-box-shadow: 0px 9px 11px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 9px 11px rgba(0,0,0,0.25);
	box-shadow: 0px 9px 11px rgba(0,0,0,0.25);
}