<div>

	<field hidden type='text' name='recordType' autofill='griotData.recordType' />

	<field type='objectselector' label='Object' name='id' />

	<field protected type='textarea' name='meta1' label='Object Metadata, Level 1' />
	<p style='margin-top:0px;'><em>Bold text just beneath the object title</em></p>

	<field protected type='textarea' name='meta2' label='Object Metadata, Level 2' />
	<p style='margin-top:0px;'><em>Plain text; initially hidden.</em></p>

	<field protected type='textarea' name='meta3' label='Object Metadata, Level 3' />
	<p style='margin-top:0px;'><em>Plain text; initially hidden.</em></p>

	<field type='image' label='Object Thumbnail' name='thumbnail' />

	<repeater name='views' label='Views' label-singular='view' label-plural='views'>

		<field type='zoomer' name='image' object='id' annotations-name='annotations' annotations-label='Annotations' annotations-label-singular='annotation' annotations-label-plural='annotations'>

			<!-- annotations -->

			<field type='text' name='title' label='Title' />

			<field type='wysiwyg' name='description' label='Description' />

			<repeater name='attachments' label='Attachments' label-singular='attachment' label-plural='attachments'>

				<field type='zoomer' name='image_id' label='Image' object='id' />

				<field type='image' label='Attachment Thumbnail' name='thumbnail' />

				<field type='textarea' name='meta' label='Attachment Metadata' />

				<field type='wysiwyg' name='description' label='Attachment Description' />

			</repeater>

			<!-- / annotations -->

		</field>

	</repeater>

	<field type='wysiwyg' name='description' label='Object Description' />

</div>
