<div>

	<field type='objectselector' label='Object' name='object_id' protected />

	<repeater name='views' label='Views' label-singular='view' label-plural='views'>

		<field type='zoomer' name='image' object='object_id' annotations-name='customname' annotations-label='Annotations' annotations-label-singular='annotation' annotations-label-plural='annotations'>

			<!-- annotations -->

			<field type='text' name='title' label='Title' />

			<field type='wysiwyg' name='description' label='Description' />

			<repeater name='attachments' label='Attachments' label-singular='attachment' label-plural='attachments'>

				<field type='image' name='image' />

			</repeater>

			<!-- / annotations -->

		</field>

	</repeater>

	<field type='wysiwyg' name='description' label='Object Description' />

</div>