<div>

	<field hidden type='text' name='recordType' autofill='griotData.recordType' />

	<field type='select' label='Panel Position' name='position'>
		<option selected value='start'>Start</option>
		<option value='end'>End</option>
		<option value='random'>Random</option>
	</field>
	<p style='margin-top:0px;'><em>Where should this panel be placed on the application home screen, relative to other tiles?</em></p>

	<field type='select' label='Panel Size' name='size'>
		<option selected value='2x2'>2 tiles wide x 2 tiles tall (big square)</option>
		<option value='1x2'>1 tile wide x 2 tiles tall (portrait)</option>
		<option value='2x1'>2 tiles wide x 1 tile tall (landscape)</option>
		<option value='1x1'>1 tile wide x 1 tile tall (small square)</option>
	</field>
	<p style='margin-top:0px;'><em>How big should this panel be, relative to a standard tile?</em></p>

	<field type='wysiwyg' label='Panel Content' name='content' />

</div>