<div>

	<repeater label='Pages' name='pages' label-singular='page' label-plural='pages'>

		<switch name='layout' label='Layout:' default='text'>

			<switchgroup type='text' label='Text Content'>
				<field label='Content' name='content' type='wysiwyg' />
			</switchgroup>

			<switchgroup type='video' label='Video'>
				<field label='Video URL' name='video' type='text' />
				<field label='Content' name='content' type='wysiwyg' />
				<field label='Label' name='label' type='textarea' />
			</switchgroup>

			<switchgroup type='image' label='Image'>
				<field label='Image' name='image' type='image' />
				<field label='Content' name='content' type='wysiwyg' />
				<field label='Label' name='label' type='textarea' />
			</switchgroup>

			<switchgroup type='sidebyside' label='Side by Side'>
				<field label='Image 1' name='image' type='image' />
				<field label='Image 2' name='image_b' type='image' />
				<field label='Content' name='content' type='wysiwyg' />
				<field label='Label' name='label' type='textarea' />
			</switchgroup>

		</switch>

	</repeater>

</div>